<!DOCTYPE html>
<html>
    <head>
        <title>Warehouse-App</title>
        <style>
          table,
          th,
          td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
          }
        </style>
      </head>
<body>
    <h2>Your Inventory</h2>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Warehouse</th>
            <th>Quantity</th>
        </tr>    
        {% for row in rows %}
            <tr>
                <td>{{ row[1] }}</a></td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>